.Nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: 											#9E9764;
  color: white;
 
}

.Nav ul {
  list-style: none;
  padding: 0 1.5rem;
  margin: 0;
  display: flex;
 
}

/* #9E9764 */